
*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.navbar {
    padding: 5px 10%;
    background: #040925;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.navbar img {
    height: 50px;
    display: inline-block;
}




#logo {
    display: inline-block;
    margin-top: 7px;
    color: #fff; 
    font-size: 30px;
}


i {
    margin: 0 7px;
}

.navbar i {
    color: #fff;
    background: transparent;
    outline: none;
    margin: 0 20px;
}

.navbar i:hover {
    color: #C21828;
    background: transparent;
    outline: none;
    margin: 0 20px;

}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/*Menu Sidebar*/
#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 70px;
    background: rgb(236, 236, 236);
    color: #040925;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    
}

/*Nombre del usuario*/
#sidebar .sidebar-header i {
    font-size: 80px;
    color: #C21828;
}
#sidebar .sidebar-header h1 {
    font-size: 30px;
    margin-top: 20px;
    color: #C21828;
}

#sidebar ul.components {
    padding: 20px 0px;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    display: block;
    color: #040925;
    font-weight: bold;
}

#sidebar ul li a:hover {
    background: #C21828;
    color: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*Subtemas*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #C21828;
    color: #fff;
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
}



@media (max-width:800px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #sidebarCollapse span {
        display: none;
    }

    .card {
        width: 100%;
    }
}

@media (max-width:400px) {
    #sidebar {
        margin-top: -20px;
    }

    #logo {
        display: none;
    }
}