
.center{
    margin-bottom: 30px;
    justify-content: center;
}

.oculto{
    display: none;
}

.tabla-inventario thead{
  background: #081042;
  color: whitesmoke;
  text-align: center;
  font-size: 8px;
}

.tabla-inventario tbody{
  font-size: 8px;
}

.tabla-inventario #col-numSerial{
  width: 80px;
}

.tabla-inventario .acciones-btn{
  font-size: 10px;
}



