h1{
    text-align: center;
    color:#09134E;
}



.a{
    background-color: darkorange;
}

.b{
    background-color: darkorchid;
}

.center{
    margin-bottom: 30px;
    justify-content: center;
}


/* Small devices (landscape phones, 576px and up)        sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px and up)                md*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up)                   lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)      xl*/
@media (min-width: 1200px) {}