h1{
    text-align: center;
    color:red;
    
}

.center{
    margin-bottom: 30px;
    justify-content: center;
}

.ocultos{
    display: block;
}

.p{
  background: tomato;
}


.container-form #texto{
  text-align: center;
  color: white;
}

.container-form #div_file{
  position: relative;
  margin: 50px;
  padding: 10px;
  width: 100px;
  background-color: turquoise;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 3px 0px #09134E;
}

.container-form #archivoImagen{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/*
.center1 {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.form-input {
  width:250px;
  padding:20px;
  background:#fff;
  border:2px dashed #555;
}
.form-input input {
  display:none;
}
.form-input label {
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  text-align:center;
  background:#333;
  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:10px;
  cursor:pointer;
}

.form-input img {
  width:100px;
  display:none;
  margin-top:10px;
}
*/


/* Small devices (landscape phones, 576px and up)        sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, 768px and up)                md*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up)                   lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)      xl*/
@media (min-width: 1200px) {}